.containerSection{
    width: 100%;
    padding: 50px 20px;
    
    background-image: linear-gradient(to top, gray, gainsboro);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
}

.containerTexto{
    background-image: linear-gradient(to bottom, gray, gainsboro);
    
    max-width: 1024px;
    padding: 20px;

    border-radius: 15px;

}

.containerImagens{
    max-width: 1024px;
    border-radius: 15px;
    padding: 30px;
    border: solid 1px black;
    background-image: linear-gradient(to bottom, gray, gainsboro);
    display: flex;
    flex-wrap: wrap;
    gap:20PX;
    justify-content: center;

}

.Imagem {
    cursor: pointer;
}