.containerCard {
    width: 300px;
    height: 300px;
    box-shadow: 1px 1px 5px #CCCCCC;

    cursor: pointer;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    

    &:hover {
        background-color: #feb633;
    }
}