.containerSection {
    width: 100%;
    padding: 100px 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    align-items: center;
    
}

.boxTexto {
    max-width: 768px;

    & h2 {
        color: #32333c;
        font-size: 35px;
    }
    & p {
        color:#8a8fa3;
        font-size: 18px;
    }
}

.containerCards {
    max-width: 1024px;
    padding: 20px;
    box-shadow: 3px 5px 10px #feb633;
    border-radius: 15px;

    display: flex;
}