.containerTopo {
    width: 100%;
    height: 10vh;
    padding: 20px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navTopo{
    min-width: 40%;
    height: 7vh;

    border: solid 1px red;

    text-align: center;
}

.imgTopo {
    height: 50px;
    width: auto;
}

.botaoTopo {
    height: 40px;
    width: 40px;
    font-size: 15px;
    border-radius: 50%;
    align-items: center;
    box-shadow: 2px 2px 2px grey;
}

.iconeTopo{
    color: blue;
}



