.containerTopo {
    width: 100%;
    height: 10vh;
    padding: 20px;
        
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navTopo{
    min-width: 50%;
    height: 7vh;

    border-bottom: solid 1px #feb633;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;

   
}

.navLink {
    text-decoration: none;
    font-size: 18px;

    &:active {
        font-weight: bold;
    }
}

.imgTopo {
    height: 50px;
    width: auto;
}

.botaoTopo {
    height: 40px;
    width: 40px;
    font-size: 15px;
    border-radius: 50%;
    align-items: center;
    box-shadow: 2px 2px 2px grey;
}

.iconeTopo{
    color: blue;
}



