.containerSection {
    width: 100%;
    height: 90vh;
    background-color: #fafbfc;
    

    display: flex;
    justify-content: center;
    align-items: center;
}


.boxImagem{
    width: 50%;
    height: 100%;
    

    background: url('../../../public/logoLoscEscudoA.png') no-repeat center;
    background-size: cover;
}

.boxTexto {
    width: 50%;
    padding: 0px 20px;
    color: #022144;

    & p{
        font-size: 12px;
    }
    & h2 {
        font-size: 40px;
        font-weight: normal;
    }
    & span {
        font-size: 35px;
        font-weight: bold;
    }
}