.containerSection {
    width: 100%;
    height: 100vh;
    padding: 100px;

    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:normal;
}

.containerTexto {
    max-width: 600px;
    text-align: justify;

    & h2 {
        letter-spacing: 3px;
    }

    & p{
        margin-top: 5px;
        margin-bottom: 5px;
        line-height: 32px;
    }
}

.containerLinks{
    height: 100px;
    padding: 15px;
    border-bottom: solid 1px #feb633;

    display:flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.linkSobre {
    padding: 10px 30px;
    text-decoration: none;
    background-color: gainsboro;
    color: black;
    font-size: 18px;

    border: 1px solid gainsboro;
    transition: background-color 1s;

    &:hover{
        background-color: #feb633;
        font-weight: bold;
    }
}

.imageLosc {
    width: 350px;
    height: 450px;
    

    border-radius: 15px;
    box-shadow: 2px 2px 10px gray;
}
