.linkVoltar {
    position: fixed;
    right: 30px;
    bottom: 30px;

    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    background-color: #feb633;
    color: #393838;
    padding: 10px 15px;
    border-radius: 50%;
    transition: border-radius 2s, color 2s, background-color 2s;

    &:hover {
        border-radius: 0%;
        background-color: #393838;
        color: #feb633;
    }

}