.containerSection {
    width: 100%;
    padding: 100px 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    align-items: center;
    
}

.boxTexto {
    max-width: 1024px;

    & h2 {
        color: #32333c;
        font-size: 35px;
    }
    & p {
        color:#8a8fa3;
        font-size: 18px;
    }
}

.containerCards {
    max-width: 1024px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}

.icone {
    font-size: 100px;
}

.containerDescricoes{
    max-width: 1024px;
}

.linkAreas {
    text-decoration: none;
    color: #32333c;
    
}